/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     display: grid;
     place-content: center;
     height: 100vh;
     color: black;
}

a {
     text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/
.calculator {
     width: 28rem;
     height: 38rem;
     background: #000;
     border-radius: 30px;
}

.insideContainer {
     padding: 3rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.calculatorScreen {
     width: 100%;
     padding: 1rem; 
     font-size: 2.5rem;
     background: #fff;
     text-align: right;
}

.calculatorBtns {
     display: flex;
     flex-wrap: wrap;
     padding-top: 2rem;
     justify-content: center;
     align-items: center;
}

button {
     width: 4rem;
     height: 4rem;
     border-radius: 50%;
     background: #fff;
     margin: .5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     color: black;
     border: none;
}

button:hover{
     background: #d6d6d6;
}

button:nth-of-type(16) {
     color: white;
     background: red;
}

button:nth-of-type(16):hover {
     color: black;
}

button:last-of-type {
     width: 85%;
     border-radius: 30px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
